body {
  background-color: black;
}
h1 {
  color: blue;
  font-family: 'Xenotron';
}
p {
  color: blue 
}
4.3E {
  color: blue;
}
4.3J {
  color: blue;
}
4.3K {
  color: blue;
}
4.3U {
  color: blue;
}
@font-face {
  font-family: Xenotron;
  src: url(Xenotron.ttf);
}

